.product-card .product-inner {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 8%);
  padding: 20px 0 10px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-bottom: 2px solid var(--second-color);
  border-radius: 10px;
}

.product-card .product-inner .product-topbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.product-card .product-inner .rating>span:first-child {
  font-size: 18px !important;
}

.product-card .product-inner .product-topbar>span {
  text-transform: capitalize;
  padding: 2px 10px;
  display: block;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
  color: var(--theme-color);
}

.product-card .product-inner .product-topbar button {
  color: var(--theme-color) !important;
  background-color: #eee;
  padding: 3px 10px;
  border-radius: 5px 0 0 5px !important;
  font-size: 22px;
}

.product-card .product-inner .product-title {
  font-size: 16px;
  color: var(--light-gray);
  margin-bottom: 15px;
}

.product-card .product-inner .product-title a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.product-card .img-wrapper {
  position: relative;
  padding-top: 150px;
  width: 100%;
}

.product-card .img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
  transition: all 0.4s ease-in-out;
  transform: scale(0.9);
}

.product-card .product-inner:hover {
  transform: scale(1);
}

.product-card .product-inner:hover .img-wrapper img {
  transform: scale(1);
}

.horizontalGrid .img-wrapper {
  max-width: 200px;
  width: 100%;
}
